li{
    font-size: 30px;
    color: rgb(25, 153, 53);
}

/* removed underline and decoration*/
a{
    font-size: 20px;
    text-decoration: none;

}

a:hover {
    text-decoration: none;
    font-style: italic;
    font-size: 30px;

}
h1 {
    color: crimson;
}
.title{
    color: darkred;
    font-style: bold;
}

.food{
    color: rgb(103, 112, 112);
    font-size: 30px;
}

.footer{
    font-size: 20px;
}